*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1400px;
    height: auto;
    overflow: hidden;
    background-color:white;
    margin: auto;
   


}
.header{
    width: 1400PX;
    height: 100px;
    background-color: #FCCFE2;
    

}
.logo{
    width: 18%;
    height: 100%;
    background-color:#FCCFE2;
    float: left;
}
.logo img{
    width: 41%;
    height: 97%;
    margin-left: 10px;
}
.menu{
    width: 80%;
    height: 100%;
    background-color: #FCCFE2;
    display: flex;
    justify-content: end;
    align-items: center;
    color: black;
    font-weight: bold;
   
}
.menu ul{
    list-style-type: none;
    float: right;
}
.menu ul li{
    float: left;
}
.menu ul li a{
    display: block;
    text-decoration: none;
    margin: 20px;
    font-size: 25px;
    color: black;
}
.box1{
    width: 1400px;
    height: 700px;
    background-color: #FCCFE2;
    
}
.box1-1{
    width: 40%;
    height: 100%;
    background-color:#FCCFE2;
    float: left;
}
.box1-2{
    width: 60%;
   height: 100%;
    float: left;
    background-color:#FCCFE2;
   
     
}
.box1-1-1{
    width: 70%;
    height: 80%;
    background-color:#FCCFE2;
    margin: auto;
    margin-top: 80px;
}
.img{
    width: 100%;
    height: 50%;
    background-color: #F6BFEA;
    position: relative;
}
.img img{
    width: 58%;
    height: 80%;
    border-radius: 50px;
    margin-top: 40px;
    position: absolute;
    margin-left: 74px;
  
  
    

}
.text{
    width: 100%;
    height: 30%;
    background-color: chartreuse;
    justify-content: center;
    display: flex;

}
.text1{
    width: 100%;
    height: 100%;
    background-color: #F6BFEA;
    justify-content: start;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
  
    
}




.icon{
    width: 100%;
    height: 15%;
    background-color: #FAF4F4;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 35px;
    
}
.icon i{
    margin-top: 30px;
}
.box1-2-2{
    width: 90%;
    height: 80%;
    background-color: black;
    margin: auto;
    margin-top: 80px;
}
.hi{
    width: 100%;
    height: 30%;
    background-color:#FCCFE2;
    font-size:22px ;
   

}
.hi p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hi1{
    width: 100%;
    height: 50%;
    background-color: #FCCFE2;
    font-size: 40px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}


.text1-2{
    width: 100%;
    height: 75%;
    background-color:#FCCFE2;
    text-align: center;
    display: flex;
    line-height: 30px;
    justify-content: center;
    font-size: 25px;


 
}
.text1-2 p{
   line-height: 50px;
}
.footer{
    width:1400px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.548);
    
    
    
}
.footer ul{
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: #FAF4F4;
}
.footer ul li{
    font-size: 20px;
    padding: 20px;
}