*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1400px;
    height: auto;
    overflow: hidden;
    background-color:white;
    margin: auto;
   


}
.header{
    width: 1400PX;
    height: 100px;
    background-color: #FCCFE2;
    

}
.logo{
    width: 18%;
    height: 100%;
    background-color:#FCCFE2;
    float: left;
}
.logo img{
    width: 41%;
    height: 97%;
    margin-left: 10px;
}
.menu{
    width: 80%;
    height: 100%;
    background-color: #FCCFE2;
    display: flex;
    justify-content: end;
    align-items: center;
    color: black;
    font-weight: bold;
   
}
.menu ul{
    list-style-type: none;
    float: right;
}
.menu ul li{
    float: left;
}
.menu ul li a{
    display: block;
    text-decoration: none;
    margin: 20px;
    font-size: 25px;
    color: black;
}
.box1{
    width: 1400px;
    height: auto;
    overflow: hidden;
    background-color: #FCCFE2;
    
}
.box1-1{
    width: 40%;
    height: 1500px;
    background-color:#FCCFE2;
    float: left;
}
.box1-2{
    width: 60%;
   height:1500px;
    float: left;
    background-color:#FCCFE2;
   
     
}
.box1-2-1{
    width: 88%;
    height: 85%;
    background-color: #FCCFE2;
    margin: auto;
    margin-top: 50px;
    margin-left: 10px;
}
.box1-2-2{
    width: 100%;
    height: 50px;
    background-color: #FAF4F4;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
}
.box1-2-3{
    width: 100%;
    height: 150px;
    background-color:#F6BFEA;

}
.box1-2-3 li{
    font-size: 20px;
font-weight: bold;
margin-left: 60px;
line-height: 28px;
}

.box1-2-4{
    width: 100%;
   height: 50px;
    background-color: #FAF4F4;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
}
.box1-2-5{
    width: 100%;
    height: 170px;
    background-color:#F6BFEA;
}
.box1-2-5 li{
    font-size: 20px;
    font-weight: bold;
    margin-left: 60px;
   line-height: 28px; 
   
}

.box1-2-6{
    width: 100%;
    height: 50px;
    background-color: #FAF4F4;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
    line-height: 28px;
}
.box1-2-7{
    width: 100%;
    height: 140px;
    background-color:#F6BFEA;
}
.box1-2-7 li{
    font-size: 20px;
    font-weight: bold;
    margin-left: 60px;
    line-height: 28px;
  
}
.box1-2-8{
    width: 100%;
    height: 50px;
    background-color: #FAF4F4;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
}
.box1-2-9{
    width: 100%;
    height: 720px;
    background-color:#F6BFEA;

}
.bii{
    width: 86%;
    height: 220px;
    background-color: aquamarine;
    margin: auto;
    margin-top: 20px;

  
}
.bii img{
    width: 100%;
    height: 100%;
}
.bii-1{
    width: 86%;
    height: 220px;
    background-color: aquamarine;
    margin: auto;
    margin-top: 20px;
}
.bii-1 img{
    width: 100%;
    height: 100%;
}
.bii-2{
    width: 86%;
    height: 220px;
    background-color: aquamarine;
    margin: auto;
    margin-top: 20px;
}
.bii-2 img{
    width: 100%;
    height: 100%;
   
}


.box1-1-1{
    width: 70%;
    height: 85%;
    background-color:#FCCFE2;
    margin: auto;
    margin-top: 55px;
}
.box1-1-2{
    width: 100%;
    height: 50px;
    background-color: #FAF4F4;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;

}
.box1-1-3{
    width: 100%;
    height: 170px;
    background-color: #F6BFEA;
 
}
.box1-1-3 li{
font-size: 20px;
font-weight: bold;
margin-left: 60px;
line-height: 28px;


}
.box1-1-4{
    width: 100%;
    height: 50px;
    background-color: #FAF4F4;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
}
.box1-1-5{
    width: 100%;
    height: 100px;
    background-color: #F6BFEA;
 
}
.box1-1-5 li{

    font-size: 20px;
    font-weight: bold;
    margin-left: 60px;
  line-height: 28px;
}



.box1-1-6{
    width: 100%;
    height: 50px;
    background-color: #FAF4F4;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
}
.box1-1-7{
    width: 100%;
    height: 175px;
    background-color: #F6BFEA;
    font-size: 50px;
 
}
.box1-1-7 i{
  margin-left: 50px;
  margin-top: 20px;
    
}
.box1-1-8{
    width: 100%;
    height: 50px;
    background-color: #FAF4F4;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;

}
.box1-1-9{
    width: 100%;
    /* height: 900px; */
    background-color: #F6BFEA;
}
.box1-1-9 img{
    width: 42%;
    height: 15%;
  margin-left: 25%;
  margin-top: 30px;
}
.box1-1-9 p{
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    width:1400px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.548);
    
    
    
}
.footer ul{
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: #FAF4F4;
}
.footer ul li{
    font-size: 20px;
    padding: 20px;
}